.nitro-catalog-confirm-purchase-component > .header-draggable {
    background: #367897!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px #000;
    border-bottom: 1px solid #000;
}

.nitro-catalog-confirm-purchase-component .card-body  p{
    color: black !important;
}

.nitro-alert {
    background: #e9e9e1!important;
    max-width: 400px !important;
    width: 400px;
}

.nitro-alert .header-draggable {
    background: #367897!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-bottom: 10px;
    text-shadow: 1px 1px 1px #000;
    border-bottom: 1px solid #000;
}

.nitro-alert .p-3{
    color: black !important;
}
